<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<title>TYSCYRJ</title>

		<!-- Vue -->
		<script src="resource/vue.global.js"></script>
		<!-- Element+ -->
		<link rel="stylesheet" href="resource/element.css" />
		<script src="resource/element.full.js"></script>
		<!-- Custom -->
		<script src="script/配方.js" type="text/javascript"></script>
		<script src="script/烹饪.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="app">
			<el-container>
				<el-aside width="260px">
					<el-input type="textarea" v-model="配方计算" autosize disabled></el-input>
				</el-aside>
				<el-main style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;">
					<el-checkbox-group v-model="选中的产物" @change="计算订单收益">
						<div v-for="工坊 in 所有产物" :key="工坊" style="margin-top: 4px;">
							<el-row>
								<el-col style="width: 80px;max-width: 80px;">
									<el-text style="font-size: 14px;line-height: 32px;">{{ 工坊[0] }} - </el-text>
								</el-col>
								<el-col :span="22">
									<el-checkbox-button v-for="产物 in 工坊[1]" :key="产物" :label="产物"
										:style="{boxShadow: 是否是最终产物(产物) ? '0px 5px 3px -3px var(--el-color-danger)':''}">
										{{ 产物 }} - {{ 计算产物时间(产物).toFixed(2) }}
									</el-checkbox-button>
								</el-col>
							</el-row>
						</div>
					</el-checkbox-group>
					<el-row style="margin-top: 6px;">
						<el-col :span="1">
							<el-button size="small" @click="选中的产物=[];计算订单收益()">清空</el-button>
						</el-col>
						<el-col :span="4">
							<el-text>铜钱：</el-text>
							<el-input-number v-model="铜钱" :step="10" step-strictly @change="计算订单收益"
								controls-position="right" size="small" />
						</el-col>
						<el-col :span="4">
							<el-text>经验：</el-text>
							<el-input-number v-model="经验" :step="10" step-strictly @change="计算订单收益"
								controls-position="right" size="small" />
						</el-col>
						<el-col :span="16">
							<el-text>{{ 订单板 }}</el-text>
						</el-col>
					</el-row>
					<el-row v-if="生产作用 && 烹饪作用" style="margin-top: 6px;">
						<el-col :span="12">
							<el-input type="textarea" v-model="生产作用" autosize disabled></el-input>
						</el-col>
						<el-col :span="12">
							<el-input type="textarea" v-model="烹饪作用" autosize disabled></el-input>
						</el-col>
					</el-row>
				</el-main>
			</el-container>
		</div>

		<script>
			(async () => {
				const app = Vue.createApp({
					data() {
						return {
							配方: 配方,
							烹饪: 烹饪,
							配方计算: undefined,
							所有产物: Object.keys(配方).map(工坊名 => [工坊名, Object.keys(配方[工坊名]).filter(产物名 => 产物名 !=
								'时间加成')]),
							选中的产物: [],
							铜钱: 0,
							经验: 0,
							订单板: '',
							生产作用: '',
							烹饪作用: ''
						}
					},
					methods: {
						计算() {
							this.配方计算 = '单个产物耗时\n'
							Object.keys(this.配方).forEach(工坊名 => {
								this.配方计算 += `${工坊名}（时间加成：${this.配方[工坊名]['时间加成']}）:\n`
								Object.keys(this.配方[工坊名]).forEach(产物名 => {
									if (产物名 != '时间加成') {
										let 时间 = this.配方[工坊名][产物名]['时间']
										时间 = 时间 * (100 + (this.配方[工坊名]['时间加成'] || 0)) / 100
										this.配方计算 += `\t${产物名}: \t${this.时间转换(时间)}\n`
									}
								})
							})
							this.配方计算 = this.配方计算.substr(0, this.配方计算.length - 1)
						},
						计算产物时间(产物名) {
							const 同时工坊 = ['农田', '鸡舍', '羊圈']
							const 工坊S = Object.values(this.配方)
							for (var i = 0; i < 工坊S.length; i++) {
								const 产物配方 = 工坊S[i][产物名]
								if (产物配方) {
									let 总时间 = 0
									Object.keys(产物配方).forEach(材料 => {
										if (材料 == '时间') {
											总时间 += 产物配方[材料] * (100 + (工坊S[i]['时间加成'] || 0)) / 100
										} else {
											if (同时工坊.some(工坊名 => this.配方[工坊名][材料])) {
												// 总时间 += this.计算产物时间(材料)
												总时间 += 0
											} else {
												总时间 += this.计算产物时间(材料) * 产物配方[材料]
											}
										}
									})
									return 总时间
								}
							}
						},
						计算订单收益() {
							let time = this.选中的产物.reduce((p, c) => p + this.计算产物时间(c), 0)
							let 期望收益 = 1.7
							let 期望收益值 = time * 期望收益
							期望收益值 = 期望收益值.toFixed(2)
							if (this.铜钱 && this.经验) {
								let 铜钱收益 = this.铜钱 / time
								铜钱收益 = 铜钱收益.toFixed(2)
								let 经验收益 = this.经验 / time
								经验收益 = 经验收益.toFixed(2)
								let 综合收益 = Number(铜钱收益) + Number(经验收益)
								综合收益 = 综合收益.toFixed(2)
								this.订单板 =
									`耗时：${time.toFixed(0)}分钟，铜钱收益：${铜钱收益}，经验收益：${经验收益}，综合收益：${综合收益}，期望收益：${期望收益} - ${期望收益值}`
							} else {
								this.订单板 = `耗时：${time.toFixed(0)}分钟，期望收益：${期望收益} - ${期望收益值}`
							}
							if (this.选中的产物.length == 1) {
								this.展示产物的作用(this.选中的产物[0])
							} else {
								this.生产作用 = ''
								this.烹饪作用 = ''
							}
						},
						展示产物的作用(产物) {
							this.生产作用 = '用于生产：\n'
							Object.keys(this.配方).forEach(工坊名 => {
								Object.keys(this.配方[工坊名]).forEach(产物名 => {
									if (产物名 != '时间加成' && this.配方[工坊名][产物名][产物]) {
										this.生产作用 += `[ ${工坊名}-${产物名} ]：`
										Object.keys(this.配方[工坊名][产物名]).filter(v => v != '时间')
											.forEach((材料, i) => {
												this.生产作用 +=
													`${i==0?'':' +'} ${材料} * ${this.配方[工坊名][产物名][材料]}`
											})
										this.生产作用 += '\n'
									}
								})
							})
							this.生产作用 = this.生产作用.substr(0, this.生产作用.length - 1)

							this.烹饪作用 = '用于烹饪：\n'
							Object.keys(this.烹饪).forEach(菜名 => {
								if (this.烹饪[菜名][产物]) {
									this.烹饪作用 += `[ ${菜名} ]：`
									Object.keys(this.烹饪[菜名]).forEach((材料, i) => {
										this.烹饪作用 +=
											`${i==0?'':' +'} ${材料} * ${this.烹饪[菜名][材料]}`
									})
									this.烹饪作用 += '\n'
								}
							})
							this.烹饪作用 = this.烹饪作用.substr(0, this.烹饪作用.length - 1)
						},
						是否是最终产物(产物) {
							if (Object.keys(this.配方).some(工坊名 => Object.keys(this.配方[工坊名]).some(产物名 =>
									产物名 != '时间加成' && this.配方[工坊名][产物名][产物]))) {
								return false
							}
							if (Object.keys(this.烹饪).some(菜名 => this.烹饪[菜名][产物])) {
								return false
							}
							return true
						},
						时间转换(分) {
							const 秒 = 分 * 60
							const 分显示 = Math.floor(秒 % 3600 / 60) < 10 ? `0${Math.floor(秒%3600/60)}` : Math
								.floor(秒 % 3600 / 60)
							const 秒显示 = Math.floor(秒 % 60) < 10 ? `0${Math.floor(秒%60)}` : Math.floor(秒 % 60)
							if (Math.floor(秒 / 3600)) {
								return `0${Math.floor(秒/3600)}时${分显示}分${秒显示}秒`
							} else {
								return `${分显示}分${秒显示}秒`
							}
						}
					},
				})
				app.use(ElementPlus)
				const vm = app.mount('#app')
				vm.计算()
			})()
		</script>
	</body>

	<script type="text/javascript" src="resource/dynamic.line.js"></script>
</html>